@font-face {
    font-family: 'Blox';
    src: url('Blox2.ttf');
}

body {
    background-color: rgb(1, 5, 12);
    font-size: 16px;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
    opacity: 0.25;
}

header {
    width: 90vw;
    height: 10vh;
    margin: 50px auto 100px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#title {
    /* font-family: 'Blox'; */
    font-family: 'Monoton', cursive;
    font-size: 25px;
    animation: titleText 0.8s infinite;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    letter-spacing: 3px;
}

@keyframes titleText {
    0% {
        color: rgb(179, 255, 0);
    }

    49% {
        color: rgb(255, 208, 0);
    }

    100% {
        color: rgb(0, 0, 0);
    }
}

main {}

.score {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    margin: 0 auto;
    width: 70vw;
    max-width: 600px;
    height: 5vh;
    background-color: rgba(67, 0, 0, 0.65);
    border-radius: 15px;
    animation: scorepanel 0.7s infinite;
    font-family: 'Codystar', cursive;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 25px;
    text-shadow: 0px 0px 5px red;
}


@keyframes scorepanel {
    0% {
        border: 3px dotted rgb(232, 252, 144);
    }

    50% {
        border: 3px dotted rgb(87, 84, 0);
    }

    100% {
        border: 3px dotted rgb(255, 239, 18);
    }
}

.visor {
    padding: 5px;
    margin: 15px auto 30px;
    width: 90vw;
    max-width: 800px;
    height: 20vh;
    background-image: linear-gradient(109.6deg, rgba(255, 0, 0, 0.322) 11.2%, rgba(0, 72, 255, 0.376) 91.1%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}

.elem {
    margin: 0 10px 0;
    width: 30%;
    height: 80%;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(124, 196, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 1px 1px 15px black;
}

.commands {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="button"] {
    background-color: transparent;
    border-radius: 15px;
    border: 3px solid #e5ff00;
    cursor: pointer;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 50px;
    text-shadow: 0px 0px 15px #e5ff00;
    letter-spacing: 5px;
    text-transform: uppercase;
    animation: scorepanel 0.2s infinite;
}

input[type="button"]:hover {
    background-color: #570029;
    transition: all 0.7s;
}

input[type="button"]:active {
    position: relative;
    top: 1px;
}

.commands h1 {
    font-weight: bold;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 0px 0px 15px #e5ff00;
    animation: titleText 20s infinite;
}

.elem img {
    width: 50px;
}


.motion {
    animation: motion 0.1s infinite;
}

@keyframes motion {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }
    50% {
        opacity: 0.3;
        transform: translateY(25px);
    }
    70% {
        opacity: 0.6;
        transform: translateY(-25px);
    }
    100% {
        opacity: 0.8;
        transform: translateY(0px);
    }
}

@media screen and (min-width: 600px) {
    #title {
        font-size: 65px;
    }

    @keyframes titleText {
        0% {
            color: rgb(179, 255, 0);
        }

        49% {
            color: rgb(255, 208, 0);
            font-size: 60px;
        }

    }

    .commands h1 {
        font-size: 30px;
    }

}